.agameOfLifeContainer{
	-fx-background-color: #4A068A;
}
.langtonsAntContainer{
    -fx-background-color: #A684A0;
}
.wireworldContainer{
    -fx-background-color: #D0F100;
}
.menuContainer{
    -fx-background-color: #4A068A;
}

.root{

    -fx-background-color: #4A068A;
}

.rect {
	-fx-border-radius: 4px;
    -fx-border-width: 2;
 	-fx-background-color: transparent;
    -fx-border-color: #00F024;/*#ff0080;*/
    -fx-text-fill: #00F024;/*#ff0080;*/
}
.button {
    -fx-border-radius: 4px;
    -fx-border-width: 2;
 	-fx-background-color: transparent;
    -fx-border-color: #00F024;/*#ff0080;*/
    -fx-text-fill: #00F024;/*#ff0080;*/
}
.button:hover{
 	-fx-background-color: #00F024;/*#ff0080;*/
    -fx-border-color: #00F024;/*#ff0080;*/
    -fx-text-fill: #4A068A;
}

.btnLabel{
     -fx-fill:  #00F024;/*#ff0080;*/
}

.checkBox .text{
    -fx-fill:  #00F024;/*#ff0080;*/
}
.radioButton .text{
    -fx-fill:  #00F024;/*#ff0080;*/
}
.slider .text{
    -fx-fill:  #00F024;/*#ff0080;*/
}
.checkBox{
    -fx-border-radius: 4px;
    /*-fx-border-width: 2;*/
    -fx-background-color: transparent;
    /*-fx-border-color: #00F024; /*#ff0080;*/
    -fx-text-fill: #00F024;/*#ff0080;*/
}

/*.checkBox:selected{
    -fx-border-radius: 4px;
    -fx-border-width: 2;

    -fx-background-color: #00F024;
    -fx-border-color: #00F024;
}
.checkBox:selected .text{
    -fx-text-fill: red;
}*/